include README.rst
include LICENSE
include requirements.txt
include requirements-extra-cli.txt
include requirements-test.txt
include requirements-docs.txt
include tox.ini

include tests/logging.conf
include tests/storj.cfg

recursive-include tests *.py

recursive-exclude storj *.pyc
recursive-exclude storj *.pyo
