include README.rst
include LICENSE
include requirements.txt
include requirements-docs.txt
include requirements_tests.txt
include requirements_develop.txt
include tox.ini

recursive-include tests *.py

recursive-exclude storj *.pyc
recursive-exclude storj *.pyo
